.wrapper{
    position: relative;
    width: 420px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: azure;
    
}
.login-body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/loginbg.png');
    background-size: cover;
  }

.wrapper .form-box{
    width: 100%;
    padding: 40px;

}

form h1{
    font-size: 30px;
    text-align: center;
    color: #695141;
}

form .input-box.login{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px;
    font-size: 16px;
    color: #695141;
    padding-left: 20px; 
}

.input-box input::placeholder{
    color: #695141;
    opacity: 0.7;
    padding-left: 20px;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;

}

form .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:-15px 0 15px;
}

.remember-forgot label input{
    accent-color: #695141;
    margin-right: 4px;
}

.remember-forgot a{
    color: #695141;
    text-decoration: none;

}

.remember-forgot a:hover{
    text-decoration: underline;
}

form button{
    width: 100%;
    height: 45px;
    background: #695141;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

form button:hover{
    background-color: #695141;
}

form .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #695141;
    text-decoration: none ;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}